@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Light.woff2') format('woff2'),
    url('./assets/fonts/Inter-Light.woff2') format('woff');
  font-weight: 100 300;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Regular.woff2') format('woff2'),
    url('./assets/fonts/Inter-Regular.woff2') format('woff');
  font-weight: 400 600;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Bold.woff2') format('woff2'),
    url('./assets/fonts/Inter-Bold.woff2') format('woff');
  font-weight: 700 800;
}

:root {
  --font-weight-bold: 700;
  --font-weight-light: 300;

  --font-medium: 17px;
  --font-small: 15px;

  --primary: #90a2ff;
  --light-gray: #f2f2f2;
  --gray: #91a2b0;
  --dark-gray: #414770;

  --box-shadow: 0 1px 3px rgba(188, 193, 217, 0.22),
    0 4px 12px rgba(188, 193, 217, 0.25);

  --cubic: cubic-bezier(0.86, 0, 0.07, 1);
}

* {
  font: var(--font-medium) 'Inter', system-ui, sans-serif;
  font-weight: var(--font-weight-light);
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'pnum';
  font-feature-settings: 'pnum';
  font-variant-numeric: proportional-nums;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0 0 15px 0;
}

p {
  margin: 0 0 10px 0;
}

a,
button,
input,
textarea,
select {
  -webkit-tap-highlight-color: transparent;
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--color-black);
  transition: background-color 100000000s;
}

textarea {
  width: 100%;
  padding: 10px;
  height: 80px;
  border: 1px solid var(--light-gray);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  line-height: 1.6;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: ellipsis;
  resize: none;
  scrollbar-width: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

textarea:focus {
  border-color: var(--primary);
}

hr {
  margin: 0 0 20px 0;
  border: none;
  height: 2px;
  width: 100%;
  background: var(--light-gray);
  border-radius: 2px;
}
